* {
    font-family: "Roboto";
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    height: 823px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/cover.png);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 2rem; 
}


.logo {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

header .nav-bar a img {
    width: 26px;
    height: 19px;
}

.nav-bar a {
    color: #fff;
    padding: 0px 10px;

}

#menu-icon img {
    width: 26px;
    height: 19px;
}

.home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-page .future-button {
    color: #fff;
}

.home-page .future-button h1 {
    font-size: 58px;
}

.home-page .future-button h1 span {
    display: flex;
}

.home-page .future-button p {
    font-size: 20px;
}

.home-page .future-button p span {
    display: flex;
    margin-top: 4px;
}

.home-page .future-button button {
    margin-top: 20px;
    background-color: #ffa500;
    color: #fff;
    border: 0;
    border-radius: 37px;
    width: 185px;
    height: 48px;
    cursor: pointer;
    margin-right: 10px;
}

.home-page .future-button button:hover {
    background-color: #ffa601c6;
    color: #fff;

}

.home-page .future-button #learn-button {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 37px;
    width: 185px;
    height: 48px;
    cursor: pointer;
}

.home-page .future-button #learn-button:hover {
    background-color: #ffa500;
    color: #fff;
    border: 0;
}

.home-page .appointment-form button {
    margin-top: 20px;
    background-color: orange;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 20px 40px;
     width: 245px; 
    cursor: pointer;
    font-size: 16px;

}

.home-page .appointment-form button:hover {
    background-color: #ffa601dd;
    color: #fff;

}


.appointment-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 328px;
    height: 619px;
    padding: 30px;
    margin-top: 6%;
    background-color: #fff;
    color: #000;
    border-radius: 9px;
}


.appointment-form h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.appointment-form label{
    font-size: 14px;
    font-weight: 150;
}
.appointment-form input{
    width: 245px;
    height: 45px;
    border-radius: 4px;
    border: 0.5px solid #00000042;
    background-color: #00000009;
    padding: 0 16px;
}


